<div class = "container-fliud">
  <div class = "row">
    <%= render 'layouts/button', path: items_path, icon: "fa-home", text: "ホーム", act: "show" %>
    <%= render 'layouts/button', path: new_item_path, icon: "fa-plus", text: "新規", act: "new" %>
    <%#= link_to new_user_path, class: "col text-center text-muted py-2 bg-primary" do %>
      <!--<div class = "col text-center text-muted py-2">-->
      <!--  <i class = "fas fa-plus fa-2x"></i></br>-->
      <!--  <p class = "my-0">新規</p>-->
      <!--</div>-->
    <%# end %>
    <div class = "col text-center text-muted py-2">
      <i class = "fas fa-file fa-2x"></i></br>
      <p class = "my-0">物品</p>
    </div>
    <div class = "col text-center text-muted py-2">
      <i class = "fas fa-boxes fa-2x"></i></br>
      <p class = "my-0">収納</p>
    </div>
    <div class = "col text-center text-muted py-2">
      <i class = "fas fa-box fa-2x"></i></br>
      <p class = "my-0">小箱</p>
    </div>
  </div>
</div>
