<div class="btn-group dropup">
  <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
    <i class="fas fa-plus fa-3x rounded-circle p-4 bg-warning text-white"></i>
    <!--<i class="fas fa-plus fa-3x rounded-circle p-4 orange"></i>-->
  </a>
  <ul class="dropdown-menu dropdown-menu-end text-right" aria-labelledby="dropdownMenuButton">
    <li class = ""><p class = "dropdown-item text-dark">テキスト一号</p></li>
    <li class = ""><p class = "dropdown-item text-dark">Text No,2</p></li>
    <li class = ""><p class = "dropdown-item text-dark">gerosijgpjs</p></li>
  </ul>
</div>