<div class="btn-group dropup absolute">
  <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
    <i class="fas fa-plus fa-3x rounded-circle p-4 orange"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-end text-right" aria-labelledby="dropdownMenuButton">
    <li class = ""><p class = "dropdown-item text-dark">テキスト一号</p></li>
    <li class = ""><p class = "dropdown-item text-dark">Text No,2</p></li>
    <li class = ""><p class = "dropdown-item text-dark">gerosijgpjs</p></li>
  </ul>
</div>

<!--<div class = "absolute">-->
<!--  <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--    <ul class="navbar-nav ml-auto">-->
    <% if user_signed_in? %>
      <%#= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
    <% end %>
<!--    </ul>-->
<!--  </div>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light">-->
<!--    <div class="container">-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
<!--        <i class="fas fa-plus fa-3x rounded-circle p-4 orange"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </nav>-->
<!--</div>-->